[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/borrow-contracts"]
	path = lib/borrow-contracts
	url = https://github.com/AngleProtocol/borrow-contracts
[submodule "/Users/picodes/Documents/Angle/borrow-lpTokens-contracts/lib/borrow-contracts"]
	branch = main
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	tags = v4.8.0
